body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

h1, h2 {
  color: #333;
}

input {
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 15px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

div {
  margin: 10px;
  padding: 10px;
  background: white;
}
